<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" class="from" placeholder="From" name="from"/><br>
        <input type="text" class="to" placeholder="To" name="to"/><br>
        <input type="text" class="msg" placeholder="Message" name="msg"/><br>
        <button>Submit</button>
    </form>
</body>
</html>